@import
	url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
/* Toast */
.toast {
	width: 350px;
    position: fixed;
    right: 3%;
    top: -150px; 
    z-index: 999;   
    transition: top 0.3s ease; 
}

.toast-header-success {
	border-bottom: 1px solid #088178;
}

.toast-header-error {
	border-bottom: 1px solid #dc3545;
}

.toast-success {
	border: 1px solid #088178;
}

.toast-error {
	border: 1px solid #dc3545;
}

.toast.show {
    top: 14%; 
}

/*Payment Page*/
.payments-method-item {
    display: flex;
    align-items: center;
}

 .payments-method-item input[type="radio"] {
    margin-right: 5px; 
}

.payments-method-item label {
    display: flex;
    align-items: center;
}

.payment-return {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}

.payment-return .fa-circle-check {
    font-size: 6rem;
    color: #088178;
    margin-bottom: 1rem;
}

.payment-return .fa-circle-xmark {
    font-size: 6rem;
    color: #dc3545;
    margin-bottom: 1rem;
}

.payment-return .btn {
    margin-top: 1rem;
}

.payment-return p {
	margin: 0 0 1rem 0;
}
/* END */

#messeger {
	display: block;
	position: fixed;
	bottom: 200px;
	right: 10px;
}

df-messenger {
	position: fixed;
	bottom: 20px; 
	right: 20px;
	max-width: 350px; 
	z-index: 1000;
}

#scrollTop {
	position: fixed;
	width: 40px;
	height: 40px;
	text-decoration: none;
	border-radius: 50%;
	z-index: 1;
	background-color: transparent;
	text-align: center;
	line-height: 40px;
	top: 560px;
	right: 28px;
	border: 2px solid #5c5c5c;
	cursor: pointer;
	transition: opacity 0.5s ease, transform 0.5s ease;
	opacity: 0;
	transform: translateY(20px);
}

#scrollTop i {
	font-size: 12px;
	color: #5d5c5c;
}

#scrollTop:hover {
	background-color: rgba(0, 0, 0, 0.25);
}

html {
	scroll-behavior: smooth;
}

/* Slider*/
.slide-img .btn-custom-prev {
	position: absolute;
	left: 30px;
	top: 45%;
	font-size: 30px;
	background-color: unset;
	color: #333;
	border: 0;
	z-index: 1;
}

.slide-img .btn-custom-next {
	position: absolute;
	right: 30px;
	top: 45%;
	font-size: 30px;
	background-color: unset;
	color: #333;
	border: 0;
	z-index: 1;
}

.slide-img .btn-custom-prev, .slide-img .btn-custom-next {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.slide-img:hover .btn-custom-prev, .slide-img:hover .btn-custom-next {
	opacity: 1;
	visibility: visible;
}

.slide-img .btn-custom-prev:hover, .slide-img .btn-custom-next:hover {
	color: #088178;
	cursor: pointer;
	outline: none;
}

#product1 {
	text-align: center;
}

.autoplay .btn-custom-prev {
	position: absolute;
	left: 30px;
	top: 45%;
	font-size: 30px;
	background-color: unset;
	color: #333;
	border: 0;
	z-index: 1;
}

.autoplay .btn-custom-next {
	position: absolute;
	right: 30px;
	top: 45%;
	font-size: 30px;
	background-color: unset;
	color: #333;
	border: 0;
	z-index: 1;
}

.autoplay .btn-custom-prev:hover, .autoplay .btn-custom-next:hover {
	color: #088178;
	cursor: pointer;
	outline: none;
}

#product1 .pro-container {
	display: flex;
	padding-top: 20px;
	flex-wrap: wrap;
}

#product1 .pro {
	min-height: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}

#product1 .pro:hover {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .pro-img {
	display: block;
	overflow: hidden;
	border-radius: 20px;
}

#product1 .pro .pro-banner {
	position: relative;
}

#product1 .pro img {
	width: 100%;
	cursor: pointer;
	transition: all .5s;
}

#product1 .pro .pro-img:hover img {
	transform: scale(1.1);
}

#product1 .pro .pro-actions {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	column-gap: 0.5rem;
	transition: all 0.2s;
}

.action-btn {
	width: 40px;
	height: 40px;
	background-color: #e8f6ea;
	border: 1px solid #cce7d0;
	color: #000;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	border-radius: 50%;
	position: relative;
}

.action-btn::before, .action-btn::after {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action-btn::before {
	content: '';
	top: -2px;
	border: .5rem solid transparent;
	border-top-color: #00947d;
}

.action-btn::after {
	content: attr(aria-label);
	bottom: 100%;
	background-color: #00947d;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
	padding-inline: 0.625rem;
	border-radius: 0.25rem;
	line-height: 2.58;
}

#product1 .pro .pro-actions, .action-btn::before, .action-btn::after {
	opacity: 0;
}

#product1 .pro .sale-flash {
	position: absolute;
	font-size: 14px;
	font-weight: 500;
	color: #FFF;
	padding: .25rem 0.625rem;
	top: 1.25rem;
	left: 1.25rem;
	z-index: 10;
	background-color: #fe9705;
	border-radius: 2.5rem;
}

#product1 .pro .pro-banner:hover .pro-actions, .action-btn:hover::before,
	.action-btn:hover::after {
	opacity: 1;
}

.action-btn:hover::before, .action-btn:hover::after {
	transform: translateX(-50%) translateY(-0.5rem);
}

.action-btn:hover, .active-btn {
	background-color: #088178;
	border-color: #088178;
	color: #fff !important;
}

#product1 .pro .des {
	text-align: start;
	padding: 10px 0;
}

#product1 .pro .des a {
	text-decoration: none !important;
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 18px;
	font-weight: 700;
}

#product1 .pro .des .product-rating {
	display: flex;
	align-items: flex-end;
}

.rating-number {
	font-size: 13px;
    margin-left: 10px;
}

#product1 .pro .des .span {
	color: #606063;
	font-size: 12px;
}

#product1 .pro .des i {
	font-size: 14px;
	color: rgb(243, 181, 25);
}

#product1 .pro .des .pro-price {
	padding-top: 15px;
	font-size: 16px;
	font-weight: 700;
	color: #088178;
	display: flex;
	align-items: center;
	column-gap: .5rem;
}

#product1 .pro .des .pro-price .old-price {
	font-size: 14px;
	font-weight: 600;
	text-decoration: line-through;
	color: #5d5c5ca6;
}

#product1 .pro .des .pro-price .new-price, #product1 .pro .des .pro-price .default-price
	{
	font-size: 18px;
}

#product1 .pro .cart {
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #e8f6ea;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 20px;
	right: 10px;
	transition: all 0.7s;
}

#product1 .pro .heart {
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #e8f6ea;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 20px;
	right: 60px;
	transition: all 0.7s;
}

#product1 .pro .cart:hover, #product1 .pro .heart:hover {
	transform: rotate(360deg);
}

#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url('../img/banner/b2.jpg');
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
}

#banner h4 {
	color: #fff;
	font-size: 16px;
}

#banner h2 {
	color: #fff;
	font-size: 30px;
	padding: 10px 0;
}

#banner h2 span {
	color: #ef3636;
}

#banner button:hover {
	background-color: #088178;
	color: #fff;
}

.btn-primary {
	background-color: #088178 !important;
	color: #fff !important;
	border: none;
}

#sm-banner .banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-image: url('../img/banner/b17.jpg');
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
}

#sm-banner .banner-box2 {
	background-image: url('../img/banner/b10.jpg');
}

#sm-banner h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}

#sm-banner h2 {
	color: #fff;
	font-size: 28px;
	font-weight: 800;
}

#sm-banner span {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
	background-color: #088178;
	border: 1px solid #088178;
}

#banner3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#banner3 .banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	background-image: url('../img/banner/b7.jpg');
	min-width: 32%;
	height: 30vh;
	background-size: cover;
	background-position: center;
	padding: 20px;
	margin-bottom: 20px;
}

#banner3 .banner-box2 {
	background-image: url('../img/banner/b4.jpg');
}

#banner3 .banner-box3 {
	background-image: url('../img/banner/b18.jpg');
}

#banner3 h2 {
	color: #fff;
	font-weight: 900;
	font-size: 18px;
}

#banner3 h3 {
	color: #ec544e;
	font-weight: 800;
	font-size: 15px;
}

#newsletter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-image: url('../img/banner/b14.png');
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: #041e42;
}

#newsletter h4 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
}

#newsletter p {
	font-size: 14px;
	font-weight: 600;
	color: #818ea0;
}

#newsletter p span {
	color: #ffbd27;
}

#newsletter .form {
	display: flex;
	width: 100%;
}

#newsletter input {
	height: 3.125rem;
	padding: 0 1.25em;
	font-size: 14px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#newsletter button {
	background-color: #088178;
	color: #fff;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

footer .colu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
	margin-left: 70px;
}

footer .logo {
	margin-bottom: 30px;
}

footer h4 {
	font-size: 16px;
	padding-bottom: 20px;
	font-weight: 700;
}

footer p {
	font-size: 14px;
	margin: 0 0 8px 0;
}

footer a {
	font-size: 14px;
	text-decoration: none;
	color: #222;
	margin-bottom: 10px;
}

footer .follow {
	margin-top: 20px;
}

footer .follow i {
	color: #465b52;
	padding-right: 3px;
	cursor: pointer;
}

footer .install .row img {
	border: 1px solid #088178;
	border-radius: 6px;
}

footer .install img {
	width: 100%;
	margin: 10px 0 15px 0;
	padding: 5px;
}

footer .follow i:hover, footer a:hover {
	color: #088178;
}

/* Product Page */
#page-header {
	background-image: url('../img/banner/b1.jpg');
	width: 100%;
	height: 40vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

#page-header h2, #page-header p {
	color: #fff;
}

.sidebar {
	background-color: rgb(239, 239, 239);
	padding: 25px;
}

.title {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding: 25px 0px;
	border-bottom: 1px solid #cccccc;
}


.menu_sidebar li {
	display: block;
	font-size: 18px;
	padding: 15px 0px 0px;
	color: #282828;
	cursor: pointer;
}

.menu_sidebar li:last-child {
	border-bottom: none;
}

.menu_sidebar li label {
	cursor: pointer;
}

.menu_sidebar li label:hover {
	color: #088178;
}

.menu_sidebar input[type="checkbox"] {
	display: none;
}

.menu_sidebar input[type="checkbox"]:checked+label {
	color: #088178;
}

.filter li {
	font-size: 16px;
}

.filter li input {
	display: none;
}

.filter li label {
	position: relative;
	padding-left: 30px;
}

.filter li label::before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #828282;
	border-radius: 3px;
	position: absolute;
	left: 0;
	top: 3px;
}

.filter li input:checked+label::after {
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 10px;
	border-right: 3px solid #088178;
	border-bottom: 3px solid #088178;
	top: 4px;
	left: 4px;
	transform: rotate(45deg);
}

.filter li input:checked+label::before {
	border-color: #088178;
}

.worktime-day {
	font-size: 18px;
	color: #222;
	margin-bottom: 5px;
	font-weight: bold;
}

.worktime-clock {
	font-family: 16px;
	color: #282828;
}

.worktime .worktime  li {
	padding: 15px 0px 0px;
}

.product1-content {
	border-bottom: 1px solid #828282;
}

.custom-select {
	margin-bottom: 15px;
}

.search_filter button {
	background-color: #088178;
	color: #fff;
	white-space: nowrap;
}

.search_filter button:hover {
	background-color: transparent;
	color: #333;
	border: 1px solid #088178;
}

.search_filter>a {
	background-color: transparent;
	color: #333;
	border: 1px solid #088178;
}

.search_filter>a:hover {
	background-color: #088178;
	color: #fff;
}

#pagination {
	text-align: center;
}

#pagination .row {
	justify-content: center;
	align-items: center;
}

#pagination a {
	background-color: #088178;
	text-decoration: none;
	padding: 15px 20px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	margin: 0px 5px;
}

#pagination a i {
	font-size: 16px;
	font-weight: 600;
}

.scroll__top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	background: #000;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	z-index: 99;
}

/* Single Product */
.breadcrumb {
	margin-bottom: 0px;
	background-color: transparent;
	font-weight: 600;
}

.breadcrumb-item a {
	text-decoration: none;
	color: #1a1a1a;
	font-weight: 500;
	font-size: 18px;
}

.breadcrumb-item.active, .breadcrumb-item+.breadcrumb-item::before {
	font-size: 18px;
}

.breadcrumb-item a:hover {
	color: #088178;
}

#prodetails {
	display: flex;
	margin-top: 20px;
}

/* slide */
.single-pro-image {
	position: relative;
	display: flex;
	flex-direction: column;
}

/* Main slider */
.slider-for {
	width: 100%;
	position: relative;
}

/* Navigation slider */
.slider-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

/* Navigation slider items */
/* Navigation slider images */
.slick-slide img {
    cursor: pointer;
}

.slider-nav img {
	width: 100%;
	height: auto;
	border: 2px solid transparent;
}

.slider-nav img.slick-current {
	border-color: #007bff;
}

.slick-prev:before, .slick-next:before {
	content: '';
}

.slider-nav .btn-custom-prev {
	position: absolute;
	left: 10px;
	top: 50%;
	font-size: 25px;
	transform: translateY(-50%);
	background-color: unset;
	color: #333;
	border: 0;
	z-index: 1;
}

.slider-nav .btn-custom-next {
	position: absolute;
	right: 10px;
	top: 50%;
	font-size: 25px;
	transform: translateY(-50%);
	background-color: unset;
	color: #333;
	border: 0;
	z-index: 1;
}

.slider-nav .btn-custom-prev, .slider-nav .btn-custom-next {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.slider-nav:hover .btn-custom-prev, .slider-nav:hover .btn-custom-next {
	opacity: 1;
	visibility: visible;
}

.slider-nav .btn-custom-prev:hover, .slider-nav .btn-custom-next:hover {
	color: #00947d;
	cursor: pointer;
}

#prodetails .single-pro-details {
	padding-left: 50px;
}

#prodetails .single-pro-details .product-title {
	font-size: 32px;
	padding: 16px 0 0;
}

#prodetails .single-pro-details .detail-category {
	margin-block: 1rem;
	color: #212529;
}

#prodetails .single-pro-details .product-rating {
	display: flex;
    align-items: flex-end;
    padding-bottom: 16px;
}

#prodetails .single-pro-details .detail-category span {
	color: #088178;
	font-size: 18px;
	font-weight: 600;
}

#prodetails .single-pro-details .detail-price {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding-block: 1rem;
	column-gap: 1rem;
	display: flex;
	align-items: center;
}
.special-price .product-price .old-price{
	text-decoration: line-through;
    font-size: 19px;
    color: #9e9e9e;
    line-height: 17px;
    font-weight: 300;
}

.detail-price .new-price, .detail-price .default-price {
	font-size: 20px;
	font-weight: 600;
	color: #088178;
}

.detail-price .old-price {
	font-weight: 500;
	text-decoration: line-through;
	color: #5d5c5ca6;
}

.short-description {
	color: #212529;
}

.list-item {
	margin-bottom: 0.75rem;
	column-gap: 10px;
}

.detail-size {
  column-gap: 0.75rem;
  margin-bottom: 2.5rem;
}

.details-size-title {
  color: #212529;
}

.size-list {
  display: flex;
  column-gap: 0.5rem;
}

.option-select__item {
  position: relative;
}

.option-select__inner {
  display: inline-block;
  position: relative;
}

.option-select__inner input[type="radio"] {
  display: none;
}

.checkmark {
  display: inline-block;
  border: 1px solid #ececec;
  padding: 5px 10px;
  color: #212529;
  cursor: pointer;
}

.option-select__inner input[type="radio"]:checked + .checkmark {
  background-color: #088178;
  color: #fff;
}

#prodetails .single-pro-details input {
	width: 50px;
	padding-left: 10px;
	font-size: 16px;
	border: 1px solid #ececec;
}

.detail-action {
	display: flex;
	column-gap: 1rem;
	margin-bottom: 3.25 rem;
}

.details-action-btn {
	padding: 14px 15px;
	border: 1px solid #ececec;
	color: #212529;
	cursor: pointer;
	transition: all 0.5s;
}

.details-action-btn:hover {
	background-color: #088178;
	color: #fff !important;
}

.nav-tabs .nav-link {
	color: #088178;
	font-weight: 600;
}

.review-single {
	border-bottom: 1px solid #dee2e6;
	padding: 1.25rem 0 1.25rem 2rem;
	display: flex;
	align-items: flex-start;
	column-gap: 1.5rem;
}

.review-img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-bottom: 0.5rem;
}

.review-icon svg {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	color: #999;
	background-color: #ccc;
	margin: 0;
}

.review-title {
	margin-top: .5rem;
	font-size: 16px;
	text-align: center;
}

.review-rating {
	color: rgb(243, 181, 25);
	margin-bottom: 0.25rem;
}

.review-data {
	padding-top: 12px;
	width: calc(100% - 94px);
}

.review-articles {
	margin: 0.25rem 0 0.5rem 0;
}

.review-description {
	margin: 0 0 0.5rem 0;
	color: #212529;
}

.rate-product {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
}

input[type="radio"] {
	height: 2rem;
}

input[type="radio"]::before {
	content: "\2605";
	color: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}


input[type="radio"]:nth-child(odd)::before {
	left: 0;
}

input[type="radio"]:hover::before, input[type="radio"]:hover ~ input[type="radio"]::before
	{
	color: #ffb800;
}

input[type="radio"]:checked::before, input[type="radio"]:checked ~ input[type="radio"]::before
	{
	color: #ffb800;
}

.form-btn .normal {
	background-color: #088178;
	color: #fff !important;
}

.form-btn .normal:hover {
	background-color: transparent;
	color: #333 !important;
	border: 2px solid #088178;
}

.form-control.textarea {
	height: 200px;
}

#prodetails .single-pro-details input:focus {
	outline: none;
}

#prodetails .single-pro-details .normal {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 0.5s;
	background: #088178;
}

#prodetails .single-pro-details .normal:hover {
	background-color: transparent;
	color: #333;
	border: 2px solid #088178;
}

.light-theme .current {
	font-weight: 500;
	background: #088178;
	border-color: #088178;
	cursor: pointer;
}

/* Blog Page*/
#page-header.blog-header {
	background-image: url('../img/banner/b19.jpg');
}

#blog {
	padding-top: 150px;
}

#blog .blog-box {
	position: relative;
	padding-bottom: 100px;
}

#blog img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

#blog .blog-details p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

#blog .blog-details a {
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #000;
	font-weight: 700;
	transition: all 0.3s;
}

#blog .blog-details a::after {
	content: "";
	width: 50px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 4px;
	right: -60px;
}

#blog .blog-details a:hover {
	color: #088178;
}

#blog .blog-details a:hover:after {
	background-color: #088178;
}

#blog .blog-box h1 {
	position: absolute;
	top: -50px;
	left: 0;
	font-size: 70px;
	font-weight: 700;
	color: #c9cbce;
	padding-left: 15px;
	z-index: -9;
}

/* About Page*/
#page-header.about-header {
	background-image: url('../img/about/banner.png');
}

#about-head img {
	width: 100%;
	height: auto;
}

#about-app {
	text-align: center;
}

#about-app .video {
	width: 70%;
	height: 100%;
	margin: 30px auto 0 auto;
}

#about-app .video video {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

/* Contact */
#contact-details .details span, #form-details form span {
	font-size: 14px;
}

#contact-details .details h2, #form-details form h2 {
	font-size: 22px;
	line-height: 35px;
	padding: 20px 0;
}

#contact-details .details h3 {
	font-size: 16px;
	padding-bottom: 15px;
}

#contact-details .details ul {
	list-style-type: none;
}

.details ul li {
	display: flex;
	padding: 10px 0;
}

.details ul li i {
	font-size: 14px;
	padding-right: 22px;
}

.details ul li p {
	margin: 0;
	font-size: 14px;
}

#contact-details .map {
	height: 400px;
}

#contact-details .map iframe {
	width: 100%;
	height: 100%;
}

#form-details {
	display: flex;
	padding: 50px 15px;
	border: 1px solid #e1e1e1;
}

#form-details form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#form-details form input, #form-details form textarea {
	width: 100%;
	padding: 12px 15px;
	outline: none;
	margin-bottom: 20px;
	border: 1px solid #e1e1e1;
}

#form-details form button {
	background-color: #088178;
	color: #fff;
}

#form-details form button:hover {
	background-color: transparent;
	color: #333;
	border: 1px solid #088178;
}

#form-details .people div {
	padding-bottom: 25px;
	display: flex;
	align-items: flex-start;
}

#form-details .people div img {
	width: 65px;
	height: 65px;
	object-fit: cover;
	margin-right: 15px;
}

#form-details .people div p {
	margin: 0;
	font-size: 13px;
	line-height: 25px;
}

#form-details .people div p span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

/* Cart Page */
.product-title p {
	font-size: 28px;
	font-weight: 700;
	text-align: center;
}

button:focus {
	outline: none;
}

#cart-add {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.quantity-control-container {
	overflow: hidden;
}

.quantity-control {
	display: flex;
	align-items: center;
	justify-content: center;
}

.quantity-button {
	border-radius: 0;
	border: 1px solid #e5e5e5;
	border-color: #e5e5e5;
	color: #222;
	line-height: 26px;
	padding: 0;
	margin: 0;
	width: 28px;
	background-color: #fff;
	height: 28px;
	float: left;
}

.quantity-input {
	display: inline-block;
	padding: 0;
	text-align: center;
	border-radius: 0;
	width: 35px;
	min-height: 28px;
	border: 1px solid #e5e5e5;
	color: #222;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	margin: 0;
	float: left;
	border-left: none;
	border-right: none;
}

.cart-subtotal {
	font-size: 16px;
	font-weight: 700;
}

a {
	text-decoration: none !important;
}

.btn-back-shopping {
    text-align: center;
}

.btn-back-shopping a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}

.btn-back-shopping .continue {
	background-color: transparent;
	color: #333;
	border: 1px solid #088178;
	border-radius: 4px;
	padding: 10px 4px;
}

.btn-back-shopping .checkout {
	background-color: #088178;
	color: #fff;
	border-radius: 4px;
	transition: 0.3s all;
}

.btn-back-shopping .continue:hover {
	background-color: #088178;
	color: #fff;
	transition: 0.3s all;
}

#custom-info a, #subtotal button {
	background-color: #088178;
	color: #fff;
	padding: 12px 29px;
}

#custom-info a:hover, #subtotal button:hover, .btn-back-shopping .checkout:hover
	{
	background-color: transparent;
	color: #333;
	border: 1px solid #088178;
}

#custom-info {
	margin-bottom: 30px;
	border: 1px solid #e2e9e1;
	padding: 20px;
}

.main_products-title h3 {
	font-size: 20px;
	font-weight: bold;
}

.cartotal #subtotal table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

#subtotal {
	background: #f6f6f6;
	margin-bottom: 30px;
	padding: 20px;
}

#subtotal h3 {
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 20px 0;
}

#subtotal table thead th {
	padding: 0 0 10px 0;
	border-bottom: 1px solid #e1e1e1;
	font-weight: 600;
}

#subtotal table tbody td {
	padding: 5px 0;
	font-size: 15px;
	line-height: 1.5;
}

#subtotal table tbody tr:first-child td {
	padding-top: 20px;
}

#subtotal table tfoot th, #subtotal table tfoot td {
	padding: 20px 0 10px 0;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #e1e1e1
}

/* Login */
.form-block {
	background: #fff;
	padding: 30px;
}

.wrap {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.text-wrap, .form-block {
	width: 50%;
}

.text-wrap {
	background: linear-gradient(135deg, #3bba9c 0%, #088178 100%);
	color: #fff;
}

.text-wrap .text h2 {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    line-height: 30px;
}

.text-wrap .text p {
	color: #fff;
}

.btn {
	cursor: pointer;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 50px;
}

.btn.btn-white.btn-outline-white {
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
	text-decoration: none;
	width: 140px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.btn.btn-white.btn-outline-white:hover {
	border: 1px solid transparent;
	background: #fff;
	color: #000;
}

.contents .form-group {
	position: relative;
	margin-bottom: 20px;
}

.contents .form-control {
	font-size: 16px;
	border-radius: 0;
	box-shadow: none;
	transition: all 0.3s;
}

.contents .form-control:hover, .contents .form-control:focus {
	color: #495057;
	background-color: #fff;
	border: 1px solid #00947d;
	outline: 0;
}

.contents .form-group .eye-password, .contents .form-group .eye-retypepassword,
	.contents .form-group .eye-oldpassword, .contents .form-group .eye-newpassword,
	.contents .form-group .eye-retypenewpassword, .contents .form-group .form-icon
	{
	position: absolute;
	right: 10px;
	top: 45px;
	width: 20px;
	height: auto;
	cursor: pointer;
}

.contents .form-message {
	font-size: 13px;
}

.invalid .form-message {
	color: #dc3545;
	;
}

.invalid .form-control {
	border-color: #dc3545;
}

.control {
	display: block;
	position: relative;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 14px;
}

.control .caption {
	position: relative;
	top: .2rem;
	padding-left: 5px;
	color: #888;
}

.checkbox {
	display: inline-block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 4px;
	border: 1px solid #ccc;
	transition: .2s ease-in-out;
	transition-property: background-color, border;
}

.checkbox:focus {
	outline: 0;
	border-color: #088178;
}

.checkbox:checked {
	background-color: #088178;
	border-color: transparent;
}

.checkbox:checked {
	background-image:
		url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.contents a {
	color: #888;
	text-decoration: underline;
}

.contents a:hover {
	text-decoration: none !important;
}

.contents .forgot-pass {
	position: relative;
	top: 2px;
	font-size: 14px;
}

.contents .btn {
	height: 54px;
	padding-left: 30px;
	padding-right: 30px;
}

.contents .btn-pill {
	border-radius: 50px;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0b716a !important;
	border-color: #0b716a;
}

.colorgreen {
	color: #088178 !important;
}

.social-login a {
	text-decoration: none;
	position: relative;
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
}

.social-login a.facebook {
	background: #3b5998;
}

.social-login a.twitter {
	background: #1da1f2;
}

.social-login a.google {
	background: #ea4335;
}

.social-login a span i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Signup */
.password-input-container {
	position: relative;
}

.toggle-password {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: url('../img/eye-regular.svg') center/cover no-repeat;
	/* Ä�á»•i Ä‘Æ°á»�ng dáº«n vÃ  kiá»ƒu hiá»ƒn thá»‹ cá»§a biá»ƒu tÆ°á»£ng máº¯t */
}

/* Change Password */
.form-password {
	width: 100%;
	background: #fff;
	padding: 30px;
}

.btn-password {
	display: flex;
}

.btn-password .normal {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}

/* Profile */
.upload-btn {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #ccccccb6;
	cursor: pointer;
	border: 5px solid #ffffff;
}

.upload-btn input[type="file"] {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.upload-btn i {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 15px;
	color: #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ccccccb6;
	cursor: pointer;
	border: 3px solid #ffffff;
	z-index: 1;
}

.profile-img {
	text-align: center;
}

.profile-img #preview {
	position: absolute;
	left: -5px;
	top: -5px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #ffffff;
}

.profile-name {
	font-size: 16px;
	font-weight: bold;
}

.profile-email {
	font-size: 14px;
	letter-spacing: 1px;
}

/* My Orders */
.btn-details {
	border: none;
	background-color: transparent;
}

.btn-details:hover {
	cursor: pointer;
	color: #088178;
}

.modal-dialog {
	max-width: 350px;
	margin: 1.75rem auto;
}

.modal-order {
	max-width: 800px;
}

.text-success {
	color: #088178 !important;
}

.btn-success {
    background-color: #088178;
    border-color: #088178;
}

.btn-success:hover {
	background-color: transparent;
    color: #333 !important;
    border: 1px solid #088178;
}

.btn-success.focus, .btn-success:focus {
	color: #fff !important;
    background-color: #088178;
    border-color: #088178;
}

 .btn-success:not(:disabled):not(.disabled):active {
 color: #fff !important;
 	background-color: #088178;
    border-color: #088178;
 }

.modal-header {
	padding: 10px 16px;
}

.product-detail table thead th {
	background-color: #088178;
	color: #fff;
}

.table td, .table th {
	vertical-align: middle;
}

.table thead {
    border: 1px solid #e2e9e1;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #e2e9e1;
}

.table tbody {
    border: 1px solid #e2e9e1;
    text-align: center;
}

.table tbody tr td a i {
	font-size: 16px;
    color: #333;
}

.table tbody tr td a:hover i{
	color: #088178;
}

.table img {
    width: 70px;
}

/* END */

#messeger {
	display: block;
	position: fixed;
	bottom: 200px;
	right: 10px;
}

df-messenger {
	position: fixed;
	/* Ä�áº£m báº£o nÃ³ Ä‘Æ°á»£c giá»¯ á»Ÿ má»™t vá»‹ trÃ­ cá»‘ Ä‘á»‹nh trÃªn trang */
	bottom: 20px; /* Khoáº£ng cÃ¡ch tá»« dÆ°á»›i lÃªn */
	right: 20px; /* Khoáº£ng cÃ¡ch tá»« pháº£i sang trÃ¡i */
	max-width: 350px; /* Ä�á»™ rá»™ng tá»‘i Ä‘a */
	z-index: 1000;
	/* Ä�áº£m báº£o nÃ³ hiá»ƒn thá»‹ trÃªn má»�i pháº§n tá»­ khÃ¡c trÃªn trang */
}

#scrollTop {
	position: fixed;
	width: 40px;
	height: 40px;
	text-decoration: none;
	border-radius: 50%;
	z-index: 1;
	background-color: transparent;
	text-align: center;
	line-height: 40px;
	top: 560px;
	right: 28px;
	border: 2px solid #5c5c5c;
	cursor: pointer;
	transition: opacity 0.5s ease, transform 0.5s ease;
	opacity: 0;
	transform: translateY(20px);
}

#scrollTop i {
	font-size: 12px;
	color: #5d5c5c;
}

#scrollTop:hover {
	background-color: rgba(0, 0, 0, 0.25);
}

html {
	scroll-behavior: smooth;
}
/* Start Media Query */
@media ( max-width : 1200px) { 
	/* Home Page */
	#navbar>li>a { 
		font-size: 14px;
	}
	
	#feature .fe-box h6 {
    	font-size: 12px; 
    }
    
    /* Product Page */
    .product1-title h2 {
    	font-size: 28px;
    }
    
}
@media ( max-width : 992px) {
	#navbar {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 300px;
		background-color: #E3E6F3;
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
		padding: 80px 0 0 10px;
		transition: 0.3s;
		overflow-x: auto;
		z-index: 1;
	}
	#navbar.active {
		right: 0px;
	}
	#navbar li {
		margin-bottom: 25px;
	}
	.sub_navbar {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		background-color: transparent;
		box-shadow: none;
		opacity: 1;
		visibility: visible;
	}
	.parent {
		width: 100%;
	}
	.parent a {
		display: flex;
		justify-content: space-between;
	}
	.sub_navbar>li {
		padding: 10px 0px;
		margin-bottom: 0px !important;
	}
	.sub_navbar {
		display: none;
	}
	.sub_navbar.show {
		display: block;
	}
	#mobile {
		display: flex;
		align-items: center;
	}
	#mobile i {
		color: #1a1a1a;
		font-size: 24px;
	}
	#mobile i:hover {
		color: #088178;
	}
	.menubar {
		display: block;
	}
	#close {
		display: initial;
		position: absolute;
		top: 30px;
		left: 30px;
		color: #222;
		font-size: 24px;
	}

	/* ADD */
	#mobile .form-inline {
		right: -125px;
	}
	.form-inline::before {
		right: 117px;
	}

	/* END */
	#hero {
		height: 80vh;
		background-position: top 30% right 30%;
	}
	#feature {
		justify-content: center;
	}
	#product1 .pro {
		min-height: 250px;
	}
	#banner {
		height: 30vh;
	}
	#sm-banner .banner-box {
		min-width: 100%;
		height: 40vh;
	}
	#banner3 .banner-box, #banner3 .banner-box2, #banner3 .banner-box3 {
		width: 100%;
		height: 40vh;
	}
	#newsletter .form {
		width: 100%;
	}
	
	/* Product Detail Page*/
	#prodetails .single-pro-details {
		padding-left: 15px !important;
	}

	/* Contact Page */
	#form-details {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	.table-responsive {
		overflow-x: auto;
    }
    
	.table-responsive table {
		width: 100%;
	}
	
	.table-responsive table th,
	.table-responsive table td {
		white-space: nowrap;
	}
        
	.modal-order {
		max-width: 690px;
	}
	

}

@media ( max-width : 768px) {
	#hero h1 {
		font-size: 40px;
	}
	#hero h2 {
		font-size: 38px;
	}
	#hero p {
		font-size: 14px;
	}
	.section-p1 {
		padding: 20px 0px;
	}
	#banner {
		height: 40vh;
	}
	.matop20 {
		margin-top: 20px;
	}
	footer .colu {
		margin-left: 0px;
	}

	/* Single Product*/
	.product1-swap p {
		display: none;
	}
	.product1-content .product1-title h2 {
		font-size: 30px;
	}

	/* Product-detail */
	#prodetails .single-pro-details {
		padding-left: 15px;
	}
	#prodetails .single-pro-details h4 {
		padding-top: 40px;
	}

	/* Contact Page */
	#form-details {
		display: block;
	}
	.people {
		margin-top: 40px;
	}
	#contact-details .map {
		height: 350px;
	}
	/* Login */
	.text-wrap, .form-block {
		width: 100%;
	}
	
	/* Manager Page */
	.modal-order {
        max-width: 520px;
    }
}

@media ( max-width : 567px) {
	.section-p1 {
		padding: 40px 0px 20px;
	}
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 32px;
	}
	#hero {
		background-position: 55%;
	}
	/* .col-12 {
		display: flex;
		justify-content: center;
	} */
	#feature .fe-box {
		width: 100% !important;
		margin: 0 0 20px 0;
	}
	#product1 .pro {
		width: 100%;
	}
	#banner {
		height: 50vh;
	}
	#sm-banner .banner-box {
		min-width: 100%;
		height: 50vh;
	}
	#sm-banner .banner-box2 {
		margin-top: 20px;
	}
	#banner3 .banner-box {
		width: 100%;
	}
	#banner3 h2 {
		text-align: left;
	}
	#feature .fe-box h6 {
        font-size: 20px;
    }
	
	.slide-img .btn-custom-prev, .slide-img .btn-custom-next {
		top: 40%;
	}
	#newsletter {
		padding: 40px 20px;
	}
	#newsletter .form {
		width: 100%;
	}

	/* Single Product */
	#prodetails {
		display: flex;
		flex-direction: column;
	}
	#prodetails .single-pro-image {
		display: block;
		width: 100%;
		margin-right: 0px;
	}
	#prodetails .single-pro-details {
		width: 100%;
		padding-top: 30px;
	}
	.single-pro-details {
		display: block !important;
	}

	/* Blog Page*/
	/* About Page*/
	#about-app .video {
		width: 100%;
	}

	/* Contact Page */
	#contact-details {
		flex-direction: column;
	}
	#contact-details .details {
		width: 100%;
		margin-bottom: 30px;
	}
	#contact-details .map {
		width: 100%;
	}
	#form-details {
		padding: 30px 10px;
		flex-wrap: wrap;
	}
	#form-details form {
		width: 100%;
		margin-bottom: 30px;
	}
	.details {
		display: block;
	}
	.people {
		display: block !important;
	}

	/* Cart Page */
	#cart-add {
		flex-direction: column;
	}
	#coupon {
		display: block;
	}
	.cartotal {
		display: block;
	}
}

.btn-sm {
	box-shadow: none !important;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 50px;
}

.modal#statusSuccessModal .modal-content, .modal#statusErrorsModal .modal-content
	{
	border-radius: 30px;
}

.modal#statusSuccessModal .modal-content svg, .modal#statusErrorsModal .modal-content svg
	{
	width: 100px;
	display: block;
	margin: 0 auto;
}

.modal#statusSuccessModal .modal-content .path, .modal#statusErrorsModal .modal-content .path
	{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
}

.modal#statusSuccessModal .modal-content .path.circle, .modal#statusErrorsModal .modal-content .path.circle
	{
	-webkit-animation: dash 0.9s ease-in-out;
	animation: dash 0.9s ease-in-out;
}

.modal#statusSuccessModal .modal-content .path.line, .modal#statusErrorsModal .modal-content .path.line
	{
	stroke-dashoffset: 1000;
	-webkit-animation: dash 0.95s 0.35s ease-in-out forwards;
	animation: dash 0.95s 0.35s ease-in-out forwards;
}

.modal#statusSuccessModal .modal-content .path.check, .modal#statusErrorsModal .modal-content .path.check
	{
	stroke-dashoffset: -100;
	-webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards;
	animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}
.box00 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}